name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          # You can specify a version if needed, otherwise it uses the latest stable
          # flutter-version: '3.19.0'

      - name: Install dependencies
        run: flutter pub get

      - name: Build Web
        run: |
          # Extract repository name to set base-href (e.g., /Dart-ACDC-examples/)
          REPO_NAME=$(echo '${{ github.repository }}' | awk -F '/' '{print $2}')
          flutter build web --release --base-href "/$REPO_NAME/"

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web
